.header {
	color: #fff !important;
	font-family: "Lato", Arial, sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 3px solid #fff;
	padding: 5rem 10rem;
}

.header ul li span,
.header ul li a {
	color: #fff;
	font-weight: 1000;
	margin: 20px;
}
