@import "https://fonts.googleapis.com/css?family=Lato:100";

html {
	width: 100%;
	height: 100%;
}

input,
button {
	font-weight: 1000;
	color: black;
}

body {
	font-weight: 1000;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	position: flex;
	animation: change 10s ease-in-out infinite;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
}

.text-box {
	color: #fff !important;
	font-family: "Lato", Arial, sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 3px solid #fff;
	padding: 5rem 10rem;
	color: #fff;
	font-weight: 1000;
	cursor: pointer;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	position: absolute !important;
	height: 100% !important;
	width: 100% !important;
}

@keyframes change {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
